<!-- views/index.ejs -->
<!-- <!doctype html> -->
<html>
<head>
    <title>Watcha-Da-Movie!</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="container">

    <div class="text-center" id="previewBox">


        <p>THE FOLLOWING <span class="previewBold">PREVIEW</span> HAS BEEN APPROVED FOR</p>
        <p><span class="previewBold">APPROPRIATE AUDIENCES</span></p>
        <P>BY THE MOTION PICTURE ASSOCIATION OF AMERICA, INC.</P>
        <br>
        <p>THE FILM ADVERTISED HAS BEEN RATED</p>
        <div class="ratingBox">
          <div class="previewRating">L</div>
          <div class="ratingButtons">
            <div class="ratingLogin previewBold"><a href="/login" class="">LOGIN</a></div>

            <div class="ratingSignup">NOT HAVING AN ACCOUNT REQUIRES YOU TO <a href="/signup" class="signupBold">SIGN UP</a></div>
          </div>
          <div class="ratingText">WATCHA-DA-MOVIE, VIEWER DISCRETION ADVISED</div>
          <!-- <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Login with Facebook</a> -->
        </div>
        <div class="website"><a href="https://marco-principio.herokuapp.com/" target="_blank">www.marcoprincipio.com</a></div>
        <div class="github"><a href="https://github.com/m081779" target="_blank">https://github.com/m081779</a></div>

    </div>

</div>
</body>
</html>
